/*
* this is where the all the styles take place for this app
*
*/

.menu-item{
  text-decoration: none;
}

.page-title{
  color: #0D47A1;
}

.page-title::first-letter{
  text-decoration: underline;
}

.warning-cls{
  color: red;
  font-weight: 400;
  margin: 10px;
  letter-spacing: -0.2px;
  font-size: 0.8em;
}
