/*
* this is where the all the styles take place for this app
*
*/

.menu-item{
  text-decoration: none;
}

.page-title{
  color: #0D47A1;
}

.page-title::first-letter{
  text-decoration: underline;
}

.warning-cls{
  color: red;
  font-weight: 400;
  margin: 10px;
  letter-spacing: -0.2px;
  font-size: 0.8em;
}

.saving-cls{
  color: green;
  font-weight: 400;
  margin: 10px;
  letter-spacing: -0.2px;
  font-size: 0.8em;
}

.control-wrapper-container{
  display: -webkit-flex; /* Safari */
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;;
	align-items: flex-start;
	align-content: flex-start;
  width: 100%;
}

.control-wrapper{
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
  margin-left: 30px;
}

.control-wrapper-flex-2{
  -webkit-flex: 2;  /* Safari 6.1+ */
  -ms-flex: 2;  /* IE 10 */
  flex: 2;
}

.roomlist-right-div{
  padding: 10px;
  max-height: 650px;
  overflow: auto;
}

.roomlist-right-wrapper{
    height: auto;
}

.template-opt{
  min-width: 280px;
}

.room-list{
  height: auto;
}

.roomlist-container{
  max-height: 800px;
  overflow: auto;
  margin-left: 0;
  margin-top: 10px;
  max-width: 275px;
}

.gen-condition-title{
  float: left;
}

.gen-condition-title::after {
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}
.float-left::after{
  content: '';
  display: table;
  clear: both;
}
.clear-float{
  content: '';
  display: table;
  clear: both;
}

.scroll-style::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar{
	width: 7px;
	background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar-thumb{
	background-color: rgb(33, 150, 243);
	border: 1px solid rgb(33, 150, 243);
}


@media (max-width: 480px) {
  .control-wrapper-container{
    display: block;
  }
  .control-wrapper , .control-wrapper-flex-2{
    width: 100%;
  }
}
