/*
* this is where the all the styles take place for this app
*
*/

/*.nav-container, .nav-container > div:first-child{
  display: flex;
  flex-direction: column;
  height: 100%;
}*/


.fab-btn-container-bottom{
  position: absolute;
  bottom: 100px;
  right: 50px;
}

.mdl-textfield{
    width: 100%;
}
